*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    background-color: rgb(116, 155, 188);
}
.container{
    background-color: white;
    width: 600px;
    padding: 2rem;
    margin: 100px auto;
    border-radius: 1rem;
    box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
}
#header{
    padding: 1rem;
}
#question{
    text-align: center;
    font-size: 2rem;
}
ul{
    list-style-type: none;
}
label{
    cursor: pointer;
}
li{
    margin: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}
#btn{
    background-color: mediumslateblue;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    color: white;
    font-size: 15px;
    border: none;
}
#btn:hover{
    background-color: mediumaquamarine;
}
#btn:active{
    background-color: rgb(5, 59, 41);
}