body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b3252;
    color: #fff;
}

.quiz-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.quiz-content {
    flex: 1;
    background-color: #54c3ef;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-family: "Caveat Brush Cursive", cursive;
    text-align: center;
    color: #2b3252;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

#submit-button {
    background-color: #fad744;
    color: #2b3252;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.score-container {
    flex: 1;
    background-color: #fad744;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
    top: 20px;
}

h2 {
    font-family: "Caveat Brush Cursive", cursive;
    text-align: center;
    color: #2b3252;
}

#score {
    font-size: 36px;
    text-align: center;
    color: #2b3252;
}
